html, body {
    margin: 0;
    padding: 0;
	height: 100%;
	position: relative;
}
#elementToShare {
    position: absolute;
    background-image: url("../media/images/mikro.jpg");
    //background: rgb(233, 233, 233);
    background-size: 100%;
    font-size: 2em;
    height: 100%;
    width: 100%;
}
#_stage{
    position:absolute;
    top: 0px;
    left:0px;
    right:0px;
    bottom: 0px;
    width:640px;
    height:480px;
    margin:auto;
}