html, body {
    margin: 0;
    padding: 0;
	height: 100%;
	position: relative;
}
#elementToShare {
    background: rgb(233, 233, 233);
    font-size: 2em;
    height: 100%;
    left: 0;
    padding: 0 1em;
    position: absolute;
    top: 0;
    width: 100%;
}